# ignore environment variables
.env

# ignore venv
tfl_venv

# ignore all csv and db files in the data folder
data/raw/*.csv
data/processed/*.db

# ignore state file
last_date.txt

# ignore Python cache folders
__pycache__/

# Visual Studio Code
.vscode/